@import url(https://fonts.googleapis.com/css?family=Ruda:400,100,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,800);

* {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

body {
    background-color: #d6d6d6;
    color: #1F2F47;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ruda', cursive;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2rem;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.container {
    padding: 40px 120px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a,
button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a.cat-button:hover,
button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .1);
}

.cat-button {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    padding: 20px;
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, .3);
}

.cat-text {
    color: #f5f5f5;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
}

/**** Affirmations screen ****/

#affirmation {
    transform: translateX(-100%);
}

body.aff-open #affirmation {
    transform: translateX(0);
}

#affirmation.overlay {
    background-color: #3B5E68;
    color: #f5f5f5;
}

.aff-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aff-text {
    line-height: 1.5;
    opacity: 1;
    font-size: 2.4rem;
    font-weight: 300;
}

.another-one {
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    margin: 40px;
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, 0.3);
}

/**** How-to screen ****/

#howTo {
    transform: translateY(-100%);
}

body.howto-open #howTo {
    transform: translateY(0);
}

#howTo.overlay {
    background-color: #f5f5f5;
    color: #1F2F47;
}

.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-container p {
    max-width: 65%;
}