@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    text-align: center;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
    box-sizing: border-box;
}

@media screen and (max-width: 776px) {
    * {
        
    }
}

body {
    background-color: #ebebeb;
    color: #1F2F47;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.4rem;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.padded {
    padding: 3rem 6rem;
}

@media screen and (max-width: 576px) {
    .padded {
        padding: 1.4rem;
    }
}

.h-100 {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a,
button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a.cat-button:hover,
button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .1);
}

.cat-button {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 2.5% 1%;
    padding: 1rem;
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 5px 15px -5px rgba(31,47,71,0.7);
    border: none;
}

@media screen and (max-width: 576px) {
    .cat-button {
        width: 100%;
    }
}

.cat-text {
    color: #f5f5f5;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
}

/**** Affirmations screen ****/

#affirmation {
    transform: translateX(-100%);
    overflow: hidden;
}

body.aff-open #affirmation {
    transform: translateX(0);
    overflow: unset;
}

#affirmation.overlay {
    background-color: #3B5E68;
    color: #f5f5f5;
}

.aff-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aff-container h2 {
    font-size: 1.4rem;
}

.aff-text {
    line-height: 1.5;
    opacity: 1;
    font-size: 2.4rem;
    font-weight: 300;
}

.another-one {
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    margin: 3rem;
    border-radius: 4rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.another-one:hover {
    transform: scale(1.1);
}

/**** How-to screen ****/

#howTo {
    transform: translateY(-100%);
    overflow: hidden;
}

body.howto-open #howTo {
    transform: translateY(0);
    overflow: unset;
}

#howTo.overlay {
    background-color: #ebebeb;
    color: #1F2F47;
}

.howto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howto-container h2.title {
    margin-top: 0;
} 

.howto-container .subtitle {
    margin-bottom: 1rem;
}

.howto-container p {
    max-width: 80%;
}
.howto-container ol{
    max-width: 50%;
    padding: 1rem;
    box-shadow: 0 5px 15px -5px rgba(31,47,71,0.7);
}

.howto-container ul {
    padding-left: 0;
}

ul.sources li {
    list-style: none;
    color: #50808E;
}

li {
    list-style-position: inside;
    margin-bottom: .6rem;
}